.section1 {
  padding: 0 0 20vmin 0;
  background: linear-gradient(135deg, #0a0a0a 0%, #000a36 100%);
}

.section1 .row {
  height: 100vh;
}

.section1 .row .col-md-6 .pray img {
  width: 140%;
  transform: scaleX(-1)
}

.section1 .row .col-md-6:last-child {
  position: relative;
}

.section1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 7vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.472);
  font-family: var(--Nunito)
}

.section1 .row .col-md-6 .panel h1 {
  font-weight: 700;
}

.section1 .row .col-md-6 .panel p {
  letter-spacing: .05em;
  font-family: var(--Lato);
  color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 768px) {
  .section1 .row .col-md-6 .panel {
    position: relative;
    width: initial;
    height: initial;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: 50px;
  }

  .section1 .row .col-md-6 .pray img {
    width: 100%;
    position: relative;
    left: -28vmin;
    top: 25vmin;
  }

}

@media only screen and (max-width: 576px) {
  .section1 {
    padding: 0;
  }

  .section1 .row {
    height: auto;
  }
}